<mjml>
    <mj-head>
        <!-- MOBILE BREAKPOINT -->
        <mj-breakpoint width="480px" />
        <!-- INBOX PREVIEW -->
        <mj-preview></mj-preview>
        <!-- TITLE -->
        <mj-title>GALE</mj-title>
        <!-- SET GLOBAL ATTRIBUTES HERE -->
        <mj-attributes>
        <mj-all font-family="'Helvetica Neue', Helvetica, Arial, sans-serif" />
        </mj-attributes>
        <%- include('../ejs_modules/style_1.html', data); %>
    </mj-head>
    <mj-body>

      
      <%- include('../ejs_modules/hero/with_image_module.html', data); %>
     
    </mj-body>
  </mjml>